{% load humanize %}
<div class="media">
  <a class="pull-left" href="#">
    <img class="media-object" src="http://placehold.it/64x64">
  </a>
  <div class="media-body">
    <a href="{% url profiles_profile_detail username=comment.author.username %}">{{ comment.author.get_profile.public_name }}</a>
    <br> {{ comment.author.city }}
    <br> {{ comment.added_at|naturalday }}
  </div>
</div>
<div>{{ comment.text }}</div>
{% if comment.author != request.user %}
<form action="{% url comment-vote-add pk=comment.action.pk %}" method="post">{% csrf_token %}
  {{ comment.score }} persone sono d'accordo <button class="btn">Sono d'accordo</button>
</form>
{% endif %}