{% load action_tags %}

<div class="action-list">
    <ul class="nav nav-tabs">
        <li{% if sorting == 'hot' %} class="active"{% endif %}><a href="{{ base_url }}?__sort=hot">Hot</a></li>
        <li{% if sorting == 'popular' %} class="active"{% endif %}><a href="{{ base_url }}?__sort=popular">Popolari</a></li>
        <li{% if sorting == 'date' %} class="active"{% endif %}><a href="{{ base_url }}?__sort=date">Recenti</a></li>
        <li{% if not sorting %} class="active"{% endif %}><a href="{{ base_url }}">Tutte</a></li>
    </ul>

    {#    <div class="navbar navbar-inverse" id="action-sorting">#}
    {#      <div class="navbar-inner">#}
    {#        <ul class="nav">#}
    {#          <li><p class="navbar-text">Ordina per:</p></li>#}
    {#          <li><a href="#">Adesioni <i class="icon-sort-down"></i></a></li>#}
    {#          {% if filter_object and filter_object.resource_type == 'geoname' %}#}
    {#          <li><a href="#">Argomento <i class="icon-sort-down"></i></a></li>#}
    {#          {% endif %}{% if filter_object and filter_object.resource_type == 'actioncategory' %}#}
    {#          <li><a href="#">Territorio <i class="icon-sort-down"></i></a></li>{% endif %}#}
    {#          <li><a href="#">Risposte <i class="icon-sort-down"></i></a></li>#}
    {#        </ul>#}
    {#      </div>#}
    {#    </div>#}
    {#    <div class="clearfix"></div>#}
    <div class="tab-content">
        <div class="tab-pane{% if sorting == 'hot' %} active{% endif %}" id="action-hot">
            {% for action in action_list %}
                {% html_action_overview action %}
            {% endfor %}
        </div>
        <div class="tab-pane{% if sorting == 'popular' %} active{% endif %}" id="action-pop">
            {% for action in action_list %}
                {% html_action_overview action %}
            {% endfor %}
        </div>
        <div class="tab-pane{% if sorting == 'date' %} active{% endif %}" id="action-latest">
            {% for action in action_list %}
                {% html_action_overview action %}
            {% endfor %}
        </div>
        <div class="tab-pane{% if not sorting %} active{% endif %}" id="action-all">
            {% for action in action_list %}
                {% html_action_overview action %}
            {% endfor %}
        </div>
    </div>

</div>