
#from ajax_select import urls as ajax_select_urls
#
#importa gli urls di askbot

#aggiungi in testa nei pattern
    #url(r'' , include('base.urls')),
    #url(r'^users/' , include('users.urls')),
	#(r'^%saccounts/registration/$' % settings.ASKBOT_URL, 'users.views.registration'),
	#(r'^%saccounts/login/$' % settings.ASKBOT_URL, 'users.views.login'),
	#(r'^%saccounts/logout/$' % settings.ASKBOT_URL, 'django.contrib.auth.views.logout_then_login'),
    #url(r'^%ssocial_auth/' % settings.ASKBOT_URL, include('oa_social_auth.urls')),
    #(r'^%saction/' % settings.ASKBOT_URL, include('action.urls')),
    #WAS: (r'^%saction/lookups/', include(ajax_select_urls)),
    #(r'^action/lookups/', include(ajax_select_urls)),
    #(r'^%saction_request/' % settings.ASKBOT_URL, include('action_request.urls')),
    #(r'^%snotification/' % settings.ASKBOT_URL, include('notification.urls')),
    #(r'^%sexternal/' % settings.ASKBOT_URL, include('external_resource.urls')),
