{% extends 'base.html' %}
{#{% load url from future %}#}

{% block content %}
<h1>{# Accedi per agire insieme!  #}&nbsp;</h1>

{#<form method="post" action="{% url 'users.views.login' %}">#}
  <form action="{{ LOGIN_URL }}" method="post" class="form-horizontal">
  {% csrf_token %}
    <div class="control-group{% if form.username.errors %} error{% endif %}">
      <label class="control-label" for="{{ form.username.html_name }}">{{ form.username.label }}</label>
      <div class="controls">
        <input type="text" name="{{ form.username.html_name }}" id="id_{{ form.username.html_name }}" value="{{ form.username.value|default_if_none:'' }}" placeholder="{{ form.username.label }}">
        <span class="help-inline">{{ form.username.errors }}</span>
      </div>
    </div>
    <div class="control-group{% if form.password.errors %} error{% endif %}">
      <label class="control-label" for="{{ form.password.html_name }}">{{ form.password.label }}</label>
      <div class="controls">
        <input type="password" name="{{ form.password.html_name }}" id="id_{{ form.password.html_name }}" placeholder="{{ form.password.label }}">
        <span class="help-inline">{{ form.password.errors }}</span>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <input type="submit" value="Accedi" class="btn" />
        <input type="hidden" name="next" value="{{ next }}" />
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <a class="btn btn-social" href="{% url socialauth_begin 'google' %}?{{ redirect_querystring }}">
          <i class="socialicon-google"></i> Accedi con Google
        </a>
{#        <a class="btn btn-social" href="{% url socialauth_begin 'facebook' %}?{{ redirect_querystring }}">#}
{#          <i class="socialicon-facebook"></i> Accedi con Facebook#}
{#        </a>#}
      </div>
    </div>




</form>
{% endblock %}

