{% extends 'base.html' %}
{% load action_tags %}

{% block head_scripts %}
  {{ block.super }}
  <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-tab.js"></script>
{% endblock head_scripts %}

{% block title %}Profilo {{ profile.public_name }}{% endblock %}

{% block content %}

  {% include 'breadcrumbs.html' %}

  <div class="media user-profile">
    <a class="pull-left thumbnail">
      <img src="http://placehold.it/160x160" alt="{{ profile.public_name }}">
    </a>

    <div class="media-body">
      <h1>{{ profile.public_name }}</h1>
      <a href="#">{{ profile.city }}</a>

      <p>{{ profile.description }}</p>

      {% if profile.home_page %}<a href="{{ profile.home_page }}">{{ profile.home_page }}</a>{% endif %}
    </div>

  </div>


{% endblock content %}


{% block sidebar %}

{% endblock sidebar %}