<footer id="site_footer">

  <div class="container">
    <div class="row">
      <div class="span4">
        <h2>Questo sito</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Nulla pulvinar adipiscing lorem, aliquet tristique nisi pretium at.
          Aliquam sed tristique elit. Maecenas ultricies condimentum urna, at consectetur nibh ultrices eu.
          Maecenas hendrerit auctor nulla vitae tristique.
          Nulla odio est, congue vel convallis vitae, adipiscing vitae orci.
          Mauris sed urna mi. Duis ut laoreet leo. Aliquam ullamcorper vehicula quam vel sagittis.
          Pellentesque sed orci orci. Proin aliquet nunc non lectus ullamcorper feugiat.
        </p>
      </div>
      <div class="span4">
        <h2>Come si usa</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Nulla pulvinar adipiscing lorem, aliquet tristique nisi pretium at.
          Aliquam sed tristique elit. Maecenas ultricies condimentum urna, at consectetur nibh ultrices eu.
        </p>
        <ul>
          <li><a href="#">Aprire una petizione</a></li>
          <li><a href="#">Modificare il proprio profilo</a></li>
          <li><a href="#">Un altra questione</a></li>
          <li><a href="#">Ancora un'altra questione</a></li>
        </ul>
      </div>
      <div class="span4">
        <h2><a href="#"><img src="{{ STATIC_URL }}img/logo-actionaid.png" alt="ActionAID"></a></h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pulvinar adipiscing lorem, aliquet tristique nisi pretium at. Aliquam sed tristique elit. Maecenas ultricies condimentum urna, at consectetur nibh ultrices eu.
        </p>

        <h2><a href="#"><img src="{{ STATIC_URL }}img/logo-openpolis.png" alt="OpenPolis"></a></h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pulvinar adipiscing lorem, aliquet tristique nisi pretium at. Aliquam sed tristique elit. Maecenas ultricies condimentum urna, at consectetur nibh ultrices eu.
        </p>
      </div>
    </div>
  </div>

</footer>