<header id="site_header" class="container">
  <div class="row">
    <div class="pull-right">

      <div class="btn-group">
        <a class="btn btn-link dropdown-toggle" href="#" data-toggle="dropdown"><i class="icon-user"></i> User <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#"><i class="icon-pencil"></i> Edit</a></li>
          <li><a href="#"><i class="icon-trash"></i> Delete</a></li>
          <li><a href="#"><i class="icon-ban-circle"></i> Ban</a></li>
          <li class="divider"></li>
          <li><a href="#"><i class="i"></i> Make admin</a></li>
        </ul>
      </div>

    </div>
  </div>
</header>