{% load i18n %}
<header id="site_header" class="container">
  <div class="row">
    {% if organization %}
    <h1>{{ organization.name }}</h1>
    {% endif %}
    <div class="pull-right">

      <div class="btn-group">
        {% if request.user.is_authenticated %}
          <a class="btn btn-link dropdown-toggle" href="#" data-toggle="dropdown"><i class="icon-user"></i> {{ request.user.username|escape }} <span class="caret"></span></a>
          <ul class="dropdown-menu user-info">
            <li><a href="{% url users_user_detail username=request.user.username %}"><i class="icon-pencil"></i> Modifica il tuo profilo</a></li>
            {% if request.user.is_staff %}
            <li><a href="/admin"><i class="icon-cog"></i> Administration</a></li>
            {% endif %}
            <li class="divider"></li>
            <li>
              <a href="{{ LOGOUT_URL }}"><i class="icon-signout"></i> {% blocktrans %}Esci{% endblocktrans %}</a>
            </li>
          </ul>
          <a href="" title="{% blocktrans %}help{% endblocktrans %}">{% blocktrans %}help{% endblocktrans %}</a>
        {% else %}
          <a href="#access-modal" role="button" class="btn btn-link" data-toggle="modal">Accedi</a>
        {% endif %}
        <a class="btn btn-link" href="{% url help %}" title="{% blocktrans %}help{% endblocktrans %}"><i class="icon-question-sign"></i></a>

      </div>

    </div>
  </div>
</header>
