{% extends 'base.html' %}
{% load action_tags %}

{% block body_class %}homepage{% endblock %}

{% block body %}
  <div id="homepage_banner">
    <h3 id="slogan">Ora dovranno ascoltarci.</h3>
    <div>
      <div class="container">
        <div class="row">

          <div class="span4">
            <h2>Scrivi ai politici italiani</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Donec euismod pulvinar eros vitae lacinia. Aliquam erat volutpat.
              Nullam quis lectus hendrerit quam dapibus vehicula at ut metus.</p>
          </div>
          <div class="span4">
            <h2>Coinvolgi amici e giornalisti</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Donec euismod pulvinar eros vitae lacinia. Aliquam erat volutpat.
              Nullam quis lectus hendrerit quam dapibus vehicula at ut metus.</p>
          </div>
          <div class="span4">
            <h2>Preparati a cambiare le cose</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Donec euismod pulvinar eros vitae lacinia. Aliquam erat volutpat.
              Nullam quis lectus hendrerit quam dapibus vehicula at ut metus.</p>
          </div>

        </div></div>
    </div>
  </div>

  {{ block.super }}
{% endblock %}


{% block content %}
<div class="row-fluid">
  <div class="span6 action-list">
    <h3>Le Azioni più calde</h3>

    {% for action in action_list %}
      {% html_action_overview action %}
    {% endfor %}

    <p class="media"><a href="{% url actions-filter %}">Tutte le azioni più calde</a></p>

  </div>
  <div class="span6 activity-list">
    <h3>Dentro OpenAction</h3>

    {% for activity in latest_activities %}
      {% if activity.content_object.action or activity.content_object.post.action %}
      {% html_activity_item activity %}
      {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock %}


{% block sidebar %}
  <form action="{% url action-create %}" class="action-form">
    <button class="action-button">Crea un'Azione</button>
    <p>
      <strong>Questo è un call to action.</strong>
      Un testo molto convincente che invita gli utenti a iscriversi e aprire un'azione.
    </p>
  </form>

  <h4>In attesa di risposte da</h4>

  <div class="politician-list">
    {% for politician in politician_list %}
    <div class="media">
      <span class="pull-left"><strong>30</strong><br>Giorni</span>
      <p>{{ politician.last_name|title }} {{ politician.first_name|title }}</p>
    </div>
    {% endfor %}
  </div>
  <a href="#">Gli altri politici da cui attendiamo risposte</a>


{% endblock %}