
<div class="modal hide fade" id="share-modal" tabindex="-1" role="dialog" aria-labelledby="Share" aria-hidden="true">
    <div class="modal-body">

        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

        <h4>{{ request.user.username }}, grazie per aver aderito. <br>Aiutaci ad incoraggiare anche gli altri a farlo.</h4>
        <p class="lead">
            Scrivici perchè hai aderito:
        </p>

        <form action="{% url action-comment-add action.pk %}" method="post">
          {% csrf_token %}
            <fieldset>
                <textarea name="text" id="id_text" class="span5"></textarea><br>
                <input class="btn" type="submit" name="submit" value="Pubblica sull'azione">
            </fieldset>
        </form>

    </div>
</div>