<script type="text/javascript">

  $(document).ready(function(){
    var $el = $('#action-vote-form');
    $el.submit(function() {
      $.post($el.attr('action')).done(function() {
        $('#share-modal').modal().on('hidden', function() {
          document.location.reload(true);
        })
      });
      return false;
    });
  });

</script>

<div class="modal hide fade bigModal" id="share-modal" tabindex="-1" role="dialog" aria-labelledby="Share" aria-hidden="true">
    <div class="modal-body">

        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

        <h3>{{ request.user.username }}, grazie per aver aderito. <br>Aiutaci ad incoraggiare anche gli altri a farlo.</h3>
        <p class="lead">
            Scrivici perchè hai aderito:
        </p>

        <form action="#" method="post">
            <fieldset>
                <textarea name="description" id="id_description" cols="30" rows="10"></textarea>
                <input class="btn pull-right" type="submit" name="submit" value="Pubblica sull'azione">
            </fieldset>
        </form>

        <h3>Aiutaci a sensibilizzare più persone possibili</h3>

        ## INVITA I TUOI AMICI - FB ##

        ## POST TO YOUR WALL - FB ##

        ## TWEET ##

    </div>
</div>