{% csrf_token %}

<fieldset class="action-create-step" id="step1">
    {% if form.non_field_errors %}
        <p class="text-error">{{ form.non_field_errors }}</p>
    {% endif %}

    <h2><label for="id_{{ form.title.html_name }}">Per cosa bisogna agire?</label></h2>
    {{ form.title.errors }}
    <input type="text" name="{{ form.title.html_name }}" autocomplete="off" placeholder="Inserisci un titolo..." id="id_{{ form.title.html_name }}" value="{{ form.title.value }}">
    <p class="help"><a href="#" tabindex="-1">Come scrivere un titolo efficace</a></p>

    <label for="id_{{ form.text.html_name }}">Descrivi la questione, perché è importante e cosa vuoi che venga fatto</label>
    {{ form.text.errors }}
    <textarea name="{{ form.text.html_name }}" id="id_{{ form.text.html_name }}" cols="30" rows="10" placeholder="Inserisci un testo...">{{ form.text.value }}</textarea>
    <p class="help"><a href="#" tabindex="-1">Come scrivere un testo efficace</a></p>
</fieldset>

<hr>

<fieldset class="action-create-step" id="step2">
    <h2><label for="{{ form.category_set.html_name }}">Che ambiti riguarda</label></h2>
    {{ form.category_set.errors }}
    {{ form.category_set }}

    <h2><label for="{{ form.tags.html_name }}">Specifica gli argomenti <small>(importante)</small></label></h2>
    {{ form.tags.errors }}
    <p>La scelta degli argomenti può aiutarti a definire meglio i prossimi passi</p>
    {{ form.tags }}
</fieldset>

<hr>

<fieldset class="action-create-step" id="step3">
    <h2><label for="{{ form.geoname_set.html_name }}">Scegli il territorio interessato</label></h2>
    {{ form.geoname_set.errors }}
    <div class="controls">
        {{ form.geoname_set }}
        <label class="btn disabled" for="ambito-nazionale"><input type="checkbox" id="ambito-nazionale" style="margin:0;" name="ambito-nazionale"> Ambito nazionale</label>
        <p class="help"><a href="#" tabindex="-1">Come scegliere un territorio</a></p>
    </div>
</fieldset>

<hr>

<fieldset class="action-create-step" id="step4">
    <h2><label for="id_{{ form.politician_set.html_name }}">Scegli i decisori</label></h2>
    <p>Questa opzione è collegata alla scelta degli argomenti e del territorio.</p>
    {{ form.politician_set.errors }}
    <input type="hidden" id="id_{{ form.politician_set.html_name }}" name="{{ form.politician_set.html_name }}" value="|{% for politician_id in form.politician_set.value %}{{ politician_id }}|{% endfor %}" />
    <div id="politician_accordion" class="accordion">

    </div>
    <p class="help"><a href="#" tabindex="-1">Come scegliere i decisori</a></p>

    {#    {{ form.as_p }}#}
</fieldset>
<fieldset>
    {{ form.threshold }}
    {{ form.in_nomine }}
    <p class="action-form"><input type="submit" class="btn btn-info btn-large" value="{{ save_text|default_if_none:'Salva' }}"></p>
</fieldset>