<div class="modal hide fade bigModal" id="share-modal" tabindex="-1" role="dialog" aria-labelledby="Share" aria-hidden="true">
    <div class="modal-body">

        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

        <h2>{{ request.user.public_name }}, grazie per aver aderito. <br>Aiutaci ad incoraggiare anche gli altri a farlo.</h2>
        <p class="lead">
            Scrivici perchè hai aderito:
        </p>

        <form action="#" method="post">
            <fieldset>
                <textarea name="description" id="id_description" cols="30" rows="10"></textarea>
                <input class="btn pull-right" type="submit" name="submit" value="Pubblica sull'azione">
            </fieldset>
        </form>

        <h2>Aiutaci a sensibilizzare più persone possibili</h2>

        ## INVITA I TUOI AMICI - FB ##

        ## POST TO YOUR WALL - FB ##

        ## TWEET ##

    </div>
</div>