{% extends 'base.html' %}
{% load action_tags %}

{% block head_scripts %}
  {{ block.super }}
  <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-tab.js"></script>
{% endblock head_scripts %}

{% block content %}

  <article class="action-list">
    {% if filter_object %}
    <h1>{% html_render_resource filter_object %}</h1>
    {% else %}
    <h3><small>Ricerca:</small> {{ request.GET.q }}</h3>
    {% endif %}

    <div id="action-slideshow"></div>

    {% html_action_list object_list %}

  </article>

{% endblock content %}
