{% extends 'base.html' %}

{% block content %}
  <h1>Crea un'Azione</h1>
  <p>Questo è un testo introduttivo che presenta brevemente cosa fare e incoraggia l'utente a completare il form.</p>


  <form action="{% url action-create %}" method="post" class="action-create-form">
    <fieldset>
      {% if form.non_field_errors %}
      <p class="text-error">{{ form.non_field_errors }}</p>
      {% endif %}

      <div class="action-step-1" id="step1"></div>
      <h2><label for="{{ form.title.html_name }}">Per cosa bisogna agire?</label></h2>
      <input type="text" class="" placeholder="Inserisci un titolo..." id="{{ form.title.html_name }}" value="{{ form.title.value }}">
      <p class="help"><a href="#">Come scrivere un titolo efficace</a></p>

      <label for="{{ form.description.html_name }}">Descrivi la questione, perché è importante e cosa vuoi che venga fatto</label>
      <textarea name="{{ form.description.html_name }}" id="{{ form.description.html_name }}" cols="30" rows="10" placeholder="Inserisci un testo...">{{ form.description.value }}</textarea>
      <p class="help"><a href="#">Come scrivere un testo efficace</a></p>

      <hr>

      <div class="action-step-2" id="step2"></div>
      <h2><label for="{{ form.category_set.html_name }}">Che ambiti riguarda</label></h2>
      {{ form.category_set }}

      <h2><label for="{{ form.tags.html_name }}">Specifica gli argomenti <small>(importante)</small></label></h2>
      <p>La scelta degli argomenti può aiutarti a definire meglio i prossimi passi</p>
      {{ form.tags }}

      <hr>

      <div class="action-step-3" id="step3"></div>
      <h2><label for="{{ form.geoname_set.html_name }}">Scegli il territorio interessato</label></h2>
      <div class="controls">
        {{ form.geoname_set }}
        <label class="btn disabled" for="ambito-nazionale"><input type="checkbox" id="ambito-nazionale" style="margin:0;" name="ambito-nazionale"> Ambito nazionale</label>
        <p class="help"><a href="#">Come scegliere un territorio</a></p>
      </div>

      <hr>

      <div class="action-step-4" id="step4"></div>
      <h2><label for="{{ form.politician_set.html_name }}">Scegli i decisori</label></h2>
      <p>Questa opzione è collegata alla scelta degli argomenti e del territorio.</p>
      {{ form.politician_set }}
      <p class="help"><a href="#">Come scegliere i decisori</a></p>

      <p class="action-form"><input type="submit" class="btn btn-info btn-large" value="Salva come bozza"></p>
{#    {{ form.as_p }}#}
    </fieldset>
</form>
{% endblock content %}

{% block sidebar %}

  <div class="highlights">
  <strong>Stai creando un'azione</strong>
  <ul>
    <li>1) <a href="#step1">Scrivi per cosa bisogna agire</a></li>
    <li>2) <a href="#step2">Quali argomenti riguarda</a></li>
    <li>3) <a href="#step3">Il territorio interessato dall'Azione</a></li>
    <li>4) <a href="#step4">Scegli i decisori da coinvolgere</a></li>
  </ul>
  </div>

{% endblock %}
