{% extends 'base.html' %}
{% load form_tags %}

{% block content %}
  <h1>Inserisci un nuovo post nel blog della tua petizione</h1>
  <form action="." method="post" class="form-horizontal">{% csrf_token %}
    <fieldset>
      {% form_field_text form.title %}
      {% form_field_textarea form.text 'input-block-level' 10 %}
    </fieldset>
    <div class="control-group">
      <div class="controls">
        <input type="submit" value="Salva" class="btn">
      </div>
    </div>
  </form>
{% endblock content %}
