{% extends "base.html" %}
{% load form_tags %}

{% block title %}Iscriviti ad OpenAction{% endblock %}

{% block content %}
  <h3>Completa l'iscrizione</h3>
<form action="" method="post" class="form-horizontal">
  {% csrf_token %}
  <fieldset>
    {% form_field_text user_form.username %}
    {% form_field_text profile_form.city %}
    <div class="control-group">
      <div class="controls">
        {% form_field_checkbox profile_form.uses_nickname %}
        {% form_field_checkbox profile_form.says_is_politician %}
        {% form_field_checkbox profile_form.wants_newsletter %}
      </div>
    </div>
  </fieldset>
  <input type="submit" value="Iscriviti" class="btn" />
</form>
{% endblock %}
